body {
    font-family: 'IBM Plex Sans';
}

h2 {
    font-family: 'IBM Plex Sans';
}

h3 {
    font-family: 'IBM Plex Sans';
}

h4 {
    font-family: 'IBM Plex Sans';
}

#header-portrait {
    border-radius: 50%;
    border: 1px solid #e5e5e5;
}

.thumbnail {
    border-radius: 8%;
    border: 1px solid #e5e5e5;
    filter: opacity(0.9);
}

#content div.uk-section:nth-child(odd) {
    background-color: #fafaff;
}
