<ul class="uk-list uk-list-divider">
    $for(cvEntries)$
      <li>
        <div uk-grid>
          <div class="uk-width-1-6">
              <div class="uk-flex uk-flex-wrap uk-text-small">
                  <span class="uk-text-small">$start$</span>
                  <span>&mdash;</span>
                  <span>$if(end)$$end$$else$now$endif$</span>
              </div>
          </div>
          <div class="uk-width-expand">
            <div>$what$</div>
            <div><span class="uk-text-meta">$where$</span></div>
            <div><span class="uk-text-small">$desc$</span></div>
          </div>
        </div>
      </li>
    $endfor$
</ul>
