<!doctype html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122647105-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-122647105-1');
        </script>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jochen Görtler - Research in information visualization</title>
        <meta name="keywords" content="jochen görtler, jochen goertler, uncertainty visualization, publications, research, visualization, uncertainty, bubble treemaps" />
        <meta name="description" content="Personal webpage of Jochen Görtler, information visualization researcher at the University of Konstanz interested in handling uncertainty throughout the visual computing pipeline." />

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="static/icon-196x196.png">
        <link rel="shortcut icon" sizes="196x196" href="static/icon-196x196.png">
        <link rel="apple-touch-icon" href="static/icon-196x196.png">    
        <link rel="icon" sizes="196x196" href="static/icon-196x196.png">

        <!-- Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
        
        <!-- UIkit -->
        <link rel="stylesheet" href="/css/uikit.min.css" />
        <script src="/static/js/uikit.min.js"></script>
        <script src="/static/js/uikit-icons.min.js"></script>

        <!-- Own files -->
        <link rel="stylesheet" type="text/css" href="/css/default.css">
    </head>
    <body>
        <div class="uk-container uk-container-small uk-margin uk-margin-top">
            <header>
                <div class="uk-container uk-text-center"><h2>Jochen Görtler</h2></div>
                <div class="uk-container uk-text-center"><a href="/"><img id="header-portrait" data-src="./images/portrait.png" width="100" height="auto" alt="Portrait" uk-img></a></div>
                <div class="uk-flex uk-flex-center uk-margin-bottom">
                  <div class="uk-grid-collapse  uk-text-center" uk-grid>
                    <div class="uk-padding-small"><a href="mailto:info@jgoertler.com" target="_blank"><span uk-icon="icon: mail"></span> Mail</a></div>
                    <div class="uk-padding-small"><a href="https://www.github.com/grtlr" target="_blank"><span uk-icon="icon: github-alt"></span> Github</a></div>
                    <div class="uk-padding-small"><a href="https://www.cgmi.uni-konstanz.de/personen/wissenschaftliche-mitarbeiterinnen/jochen-goertler/" target="_blank"><span uk-icon="icon: location"></span> University of Konstanz</a></div>
                    <div class="uk-padding-small"><a href="https://scholar.google.de/citations?user=PjRS0WAAAAAJ" target="_blank"><span uk-icon="icon: google"></span> Google Scholar</a></div>
                  </div>
                </div>
            </header>
            <main role="main">
                $body$
            </main>
        </div>

        <footer>
            <div class="uk-background-muted uk-margin-top uk-padding-small uk-text-center">
              <span class="uk-text-meta">© Jochen Görtler 2018. Site generated by <a href="http://jaspervdj.be/hakyll">Hakyll</a>.</span>
            </div>
        </footer>
    </body>
</html>
