<ul class="uk-list uk-list-divider">
    $for(publications)$
      <li>
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-expand">
            <div><span class="uk-text" style="font-family:'IBM Plex Serif';">$title$</span></div>
            <div><span class="uk-text-small uk-text-muted">$published$ ($year$)</span></div>
            <div><span class="uk-text uk-text-small">$author$</span></div>
            <div class="uk-flex uk-flex-wrap uk-grid-small" uk-grid>
              $if(doi)$<div>$partial("templates/doi.html")$</div>$endif$
              $if(outlink)$<div>$partial("templates/link.html")$</div>$endif$
              $if(award)$<div>$partial("templates/award.html")$</div>$endif$
              $if(pdf)$<div>$partial("templates/pdf.html")$</div>$endif$
              $if(code)$<div>$partial("templates/code.html")$</div>$endif$
              $if(talk)$<div>$partial("templates/talk.html")$</div>$endif$
            </div>
          </div>
          $if(thumbnail)$
          <div>$partial("templates/thumbnail.html")$</div>
          $endif$
        </div>
      </li>
    $endfor$
</ul>
